{% extends "base.html" %} {% block title %} CryptoHub {% endblock %} {% block content %}
<h1>Encrypted Text:</h1>
<br>
<div>
    <h1>Base64 Encoded Ciphertext</h1>
    <div style="font-family: 'Courier New', Courier, monospace">
        <!-- {{cipher_text}} -->
        <br> 
    </div>
    <a href="static/{{cname}}.enc">
        <button type="button">Download CipherText</button>
    </a>
    <br>
    <br> {% if priv %}
    <h1>Public Key:</h1>
    <div style="font-family: 'Courier New', Courier, monospace">
        {% for lines in pub %} {{lines}}
        <br> {% endfor %}
    </div>
    <br>
    <a href="static/keys/{{pubname}}.pub">
        <button type="button">Download Public key</button>
    </a>
    <br>{% endif %}
    <br> {% if priv %}
    <h1>Private Key:</h1>
    <div style="font-family: 'Courier New', Courier, monospace">
        {% for lines in priv %} {{lines}}
        <br> {% endfor %}
    </div>
    <br>
    <a href="static/keys/{{privname}}">
        <button type="button">Download Private key</button>
    </a>
    {% endif %}
</div>
{% endblock %}