{% extends "base.html" %} {% block title %} CryptoHub {% endblock %} {% block content %}
<script lang="javascript">


</script>
<h1>Encrypt a file or text</h1>
<form action="{{ url_for('encrypt')}}" method="POST" enctype="multipart/form-data">
    <p>
        <input type="radio" name="type" value="rsa" checked> RSA
        <input type="radio" name="type" value="aes"> AES
    </p>

    <p>
        <input type="radio" name="keygen" value="autogen" onclick="autogen()" > Auto-generate Key
        <input type="radio" name="keygen" value="upload" onclick="upload()" > Upload public key File
    </p>
    <div id='ag'>
        <p>Key Size :
            <input type="number" name="size" min="1024" max="16384" step="256" value="1024">
        </p>

        <p>Passphrase :
            <input type="password" name="passphrase" minlength="8"> (leave blank for unencrypted key)
        </p>
    </div>
    <div id="up">
        <input type="file" name="pub_key">
    </div>

    <p>Message to Encrypt:</p>
    <input type="text" class="textbox" name="plain">
    <br>
    <br>
    <button type="submit">Encrypt</button>
</form>
{% endblock %}