{% extends "base.html" %}

{% block title %}
De-Crowder  
{% endblock %}
{% block content %}

<h3> Get to know the live status of your favourite places ! </h3> <br><br>

   <a href="list_banks">  <button type="button" id="b1"  class="btn btn-outline-primary btn-lg ">Banks</button><br><br>
   <a href="list_govt">  <button type="button" id="b2"  class="btn btn-outline-success btn-lg">Government Offices</button><br><br>
   <a href="list_rest"> <button type="button" id="b3"  class="btn btn-outline-danger btn-lg">Restaurants</button></a><br><br>

    

{% endblock %}