{% extends "base.html" %}

{% block title %}
De-Crowder  
{% endblock %}
{% block content %}

<h3> Get to know the live status of your favourite places ! </h3> <br><br>

<a href="/final"><button type="button" id="b1"  class="btn btn-outline-primary">Banks</button></a><br><br>
<a href="/final"><button type="button" id="b2"  class="btn btn-outline-success">Government Offices</button></a><br><br>
<a href="/final"><button type="button" id="b3"  class="btn btn-outline-danger">Restaurants</button></a><br><br>

    
</div>
{% endblock %}